.DS_Store

# mVMC
dat_output_makedef.json
def_files/
output/

# SpinlesstV-LCT-INT
**/lct_int_inputs/test.chkp/

# vmc_gutzwiller
VMC.out
fort.*
prep.out
randomseeds
reading
wf.out

# vmc_hubbard
FN.out
VMC.out
fort.*
prep.out
tablesim
