absl-py==2.1.0
beartype==0.18.5
cffi==1.16.0
chex==0.1.86
equinox==0.11.4
etils==1.9.2
flax==0.8.5
fsspec==2024.6.1
igraph==0.11.6
importlib_resources==6.4.0
jax==0.4.30
jaxlib==0.4.30
jaxtyping==0.2.33
llvmlite==0.42.0
markdown-it-py==3.0.0
mdurl==0.1.2
ml-dtypes==0.4.0
msgpack==1.0.8
nest-asyncio==1.6.0
NetKet==3.13.0
numba==0.59.1
numba4jax==0.0.12
numpy==1.26.4
opt-einsum==3.3.0
optax==0.2.3
orbax-checkpoint==0.5.22
orjson==3.10.6
plum-dispatch==2.5.2
protobuf==5.27.2
pycparser==2.22
Pygments==2.18.0
PyYAML==6.0.1
rich==13.7.1
scipy==1.14.0
setuptools==71.1.0
tensorstore==0.1.63
texttable==1.7.0
toolz==0.12.1
tqdm==4.66.4
typeguard==2.13.3
typing_extensions==4.12.2
zipp==3.19.2
